html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

div {
	display: inline-block;
	margin: 1em 1em;
	padding: 0;
}

nav {
	padding: 0;
	background-color: white;
	border: 0;
}

.introduction {
	background-image: url(http://thinkful-ed.github.io/karma-clone/img/first-background.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
}

.introduction-div {
	display: block;
	width: 100%;
	text-align: center;
	color: white;
	margin: auto auto;
	padding: 17%
}

.introduction-div > button {
	width: 20em;
	height: 4em;
	color: white;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #f15a29;
	border-color: #f15a29;
	border-radius: 5px;
}

.content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}

.top-navigation {
	width: 100%;
	z-index: 9999;
}

.top-navigation > .content {
	height: 4.375rem;
	width: 46rem;
}

@media (min-width: 48rem) .content {
    width: 46rem;
}

ul {
	list-style: none;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-navigation .logo {
	height: 4.375rem;
}
